body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
}
h2 {
  font-family: "Raleway", sans-serif;
  color: #fd7e14;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
header h3,
footer {
  text-align: center;
  margin: 0;
}
header {
  height: 76px;
}
footer {
  height: 8vh;
}
.address {
  color: #eee0e4;
}

main {
  padding: 20px;
  height: auto;
}

nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  background: #eaeaea;
  transition: 0.3s;
}

nav.scrolled-down {
  height: 80px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}

nav.scrolled-down img {
  scale: 1.25;
}

.links {
  display: flex;
  gap: 16px;
}

nav img {
  width: 50px;
  height: 50px;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

.container {
  margin: 0 10%;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #363636;
}
.content {
  display: flex;
  flex-direction: column;
  height: calc(67vh + 4px);
}
.oficce {
  height: 472px;
  position: absolute;
  bottom: 5px;
  right: 0px;
}

form {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input,
select {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#quote-result {
  font-weight: bold;
}

.insurance-cont {
  padding: 20px 0px 20px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
  width: 72vh;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
}

.insudiv {
  display: flex;
  height: 250px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.insudiv-h {
  color: #343a40;
  font-size: 16px;
}
.insudiv-p {
  width: 150px;
  white-space: break-spaces;
}

.bn53 {
  background-color: #b81515;
  padding: 7px;
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

.content-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  height: calc(67vh + 4px);
}

.p-about {
  margin-top: 0;
  font-size: 18px;
}

.form-claim {
  position: absolute;
  top: 24vh;
  left: 50%;
}

.insurance-card {
  background-color: #e0f2f1;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 250px;
}

.insurance-card h2 {
  color: orange;
  margin-top: 0;
}

.insurance-card p,
.insurance-card ul,
.insurance-card button {
  color: #757575;
  font-size: 10px;
  white-space: break-spaces;
}

.insurance-card ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.insurance-card button {
  background-color: #ffcc80;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.insurance-card button:hover {
  background-color: #ffb74d;
}

.insurance-conten {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

.content-b {
  display: flex;
  flex-direction: column;
}

#claimsContainer {
  background-color: #e0f2f1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#claimsContainer p:first-child {
  font-size: 24px;
  color: #ff9800;
  padding: 10px;
  border-radius: 5px;
}

/* Media query para pantallas de hasta 425px */
@media (max-width: 425px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h2,
  p {
    font-family: "Raleway", sans-serif;
  }

  /* Encabezado y pie de página */
  header,
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  /* Navbar */
  nav {
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
  }

  /* Contenedor principal */
  .container {
    margin: 0 10%;
  }

  /* Contenido principal */
  main {
    padding: 20px;
  }

  /* Formulario de reclamo */
  .form-claim {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
  }

  /* Contenedor de reclamos */
  #claimsContainer {
    background-color: #e0f2f1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  /* Primer párrafo dentro del contenedor de reclamos */
  #claimsContainer p:first-child {
    font-size: 20px;
    color: #ff9800;
    padding: 8px;
    border-radius: 5px;
  }

  /* Encabezado y pie de página */
  header {
    height: 50px;
  }

  footer {
    height: 6vh;
  }

  header h3,
  footer {
    font-size: 16px;
  }

  /* Navbar */
  nav {
    height: 40px;
  }

  nav img {
    width: 40px;
    height: 40px;
  }

  /* Contenedor principal */
  .container {
    margin: 0 5%;
  }

  /* Contenido principal */
  main {
    padding: 10px;
  }

  /* Formulario de reclamo */
  .form-claim {
    top: initial;
    left: initial;
    margin-top: 10px;
  }

  /* Contenedor de reclamos */
  #claimsContainer {
    margin-top: 10px;
  }

  /* Primer párrafo dentro del contenedor de reclamos */
  #claimsContainer p:first-child {
    font-size: 18px;
    padding: 6px;
  }
}
