<div class="content-about">
  <h2>Gracias por ver mi pagina!!</h2>
  <p class="p-about">
    ¡Hola! Soy Martin Araujo, un apasionado desarrollador full stack especializado en
    JavaScript. Con más de 2 años de experiencia en el desarrollo web, me destaco por
    crear aplicaciones robustas y escalables que cumplen con las necesidades del cliente y
    proporcionan una excelente experiencia de usuario.
  </p>
  <p class="p-about">
    Mi viaje en el mundo del desarrollo comenzó con querer actualizar el firmware de mi
    impresora 3d. Desde entonces, he trabajado en una variedad de proyectos emocionantes,
    desde aplicaciones web simples hasta plataformas complejas de comercio electrónico.
  </p>
  <p class="p-about">
    En el lado del front-end, tengo experiencia en el uso de tecnologías como React.js
    para crear interfaces de usuario dinámicas e interactivas. En el back-end, me
    especializo en Node.js y Express.js, aprovechando su potencia para desarrollar
    servidores robustos y escalables. Lo que más me apasiona de ser desarrollador es la
    oportunidad de enfrentar desafíos creativos y encontrar soluciones innovadoras para
    resolverlos.
  </p>
  <p class="p-about">
    Disfruto trabajando en equipos colaborativos donde puedo aprender y crecer junto a
    otros profesionales talentosos. Estoy emocionado por las oportunidades futuras para
    seguir creciendo como desarrollador y contribuir al mundo del desarrollo web con mi
    experiencia y pasión. ¡Espero con interés conectarme y colaborar en proyectos
    emocionantes!
  </p>
</div>
