<div class="content-claim">
  <div>
    <h2>Aqui puedes realizar tus reclamos</h2>
    <p>Pronto un asesor se contactara contigo.</p>
  </div>
  <div>
    <form class="form-claim" id="claimForm">
      <label for="policyNumber">Número de póliza:</label><br />
      <input type="text" id="policyNumber" name="policyNumber" required /><br />

      <label for="fullName">Nombre completo:</label><br />
      <input type="text" id="fullName" name="fullName" required /><br />

      <label for="email">Correo electrónico:</label><br />
      <input type="email" id="email" name="email" required /><br />

      <label for="phone">Teléfono de contacto:</label><br />
      <input type="tel" id="phone" name="phone" required /><br />

      <label for="claimDescription">Descripción del reclamo:</label><br />
      <textarea
        id="claimDescription"
        name="claimDescription"
        rows="4"
        cols="50"
        required
      ></textarea
      ><br />
      <label for="pdfFile">Adjuntar PDF:</label><br />
      <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" /><br />

      <button type="submit">Enviar reclamo</button>
    </form>
  </div>
</div>
